.DS_Store
.cargo-home/
node_modules/
build-src/
dist/
src/
!modai/src/
!modai/src/**
!src-tauri/src/
!src-tauri/src/**
.modai/*
!.modai/skills/
!.modai/skills/**
!.modai/plugins/
!.modai/plugins/**
target/
src-tauri/target/
